<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="sga-wrapper">
            <div class="sga-header">
                <img src="img/spectrum-header-temp.jpg" class="spectrum-image">
            </div>
            <!--<a href="http://www.iwuwildcats.com/article/4112.php" target="_blank">-->
            <div class="card card-1">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            John Wesley Honors College Awards 2014 Aldersgate Prize to Literature Scholar
                        </p>
                        <p class="article-date">
                            30 Oct 2014 3:34pm
                        </p>
                    </div>
                </div>
            </div>
            <!--</a>-->
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            Indiana Start-Ups Receive Paid Interns Through IWU and Lilly
                        </p>
                        <p class="article-date">
                            11 Sep 2014 12:30pm
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            S. Truett Cathy: Why Not
                        </p>
                        <p class="article-date">
                            10 Sep 2014 8:32pm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>