/********** VARIABLES **********/
/* Color Variables */
/* Font Variables */
/*
@IWU_PROXIMA-NOVA:      "proxima-nova-n4", "proxima-nova", arial;
@IWU_WISDOM-SCRIPT:     "wisdom-script", "Brush Script MT", cursive;
@IWU_MUSEO-SLAB:        "museo-slab", georgia, "times new roman", serif;
@IWU_METROPOLIS:        "Metropolis-19201", georgia, "times new roman", serif;
*/
/* Sizing Variables */
/********** MIXINS **********/
/* Global Mixins */
.raised-content {
  box-shadow: 0 1px 2px #aaa;
  border-bottom: 1px solid gray;
}
