/* VARIABLES */
/*
@IWU_PROXIMA-NOVA:    "proxima-nova-n4", "proxima-nova", arial;
@IWU_WISDOM-SCRIPT:   "wisdom-script", "Brush Script MT", cursive;
@IWU_MUSEO-SLAB:      "museo-slab", georgia, "times new roman", serif;
@IWU_METROPOLIS:      "Metropolis-19201", georgia, "times new roman", serif;
*/
/* MIXINS */
.raised-content {
  box-shadow: 0 1px 2px #aaa;
  /* HARD CODED VALUE */
  border-bottom: 1px solid gray;
  /* HARD CODED VALUE */
}
/* STYLES */
html,
body {
  background-color: #edeae8;
  font-family: 'Lato', georgia, arial, sans-serif;
  color: #444444;
  width: 1080px;
  height: 1776px;
  /* HARD CODED VALUE */
}
.header {
  /* STYLES */
  width: 1080px;
  height: 144px;
  background-color: #980826;
  position: fixed;
  top: 0;
  z-index: 10;
  /* MIXINS */
  box-shadow: 0 1px 2px #aaa;
  /* HARD CODED VALUE */
  border-bottom: 1px solid gray;
  /* HARD CODED VALUE */
  /* NESTED CSS */
}
.header .header-icon {
  color: f5F5F5;
  text-decoration: none;
}
.header .header-menu {
  float: left;
  padding: 40px;
  /*.v-align;*/
}
.header .header-logo {
  padding: 0;
  margin: 24px;
  /* HARD CODED VALUE */
  width: 96px;
  /* HARD CODED VALUE */
  height: 96px;
  /* HARD CODED VALUE */
  float: left;
}
.header .header-text {
  font-size: 64px;
  /* HARD CODED VALUE */
  font-weight: 400;
  line-height: 80px;
  color: #f5f5f5;
  float: left;
  margin: 32px 0;
}
.header .header-reorder {
  float: right;
  padding: 40px;
  /* HARD CODED VALUE */
  /*.v-align;*/
}
.main-content {
  /* STYLES */
  width: 100%;
  min-height: 1776px;
  /* HARD CODED VALUE */
  margin-top: 192px;
  /* HARD CODED VALUE */
  /* MIXINS */
  /* NESTED CSS */
}
.main-content .card {
  width: 1032px;
  /* HARD CODED VALUE */
  margin: 48px auto;
  /* HARD CODED VALUE */
  border-radius: 5px;
  /* HARD CODED VALUE */
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px #aaa;
  /* HARD CODED VALUE */
  border-bottom: 1px solid gray;
  /* HARD CODED VALUE */
}
.main-content .card .card-top {
  overflow: hidden;
  margin-bottom: 32px;
  padding: 16px;
}
.main-content .card .card-top .card-title {
  margin: 0;
  text-align: left;
  font-size: 48px;
  /* HARD CODED VALUE */
  font-weight: 600;
  line-height: 48px;
  /* HARD CODED VALUE */
  float: left;
}
.main-content .card .card-top .card-title span {
  font-weight: 100;
}
.main-content .card .card-top .card-flaticon:before {
  font-size: 32px;
  line-height: 32px;
  float: right;
  color: #444444;
}
.main-content .card .card-mid {
  overflow: hidden;
  padding: 16px;
}
.main-content .card .card-bottom {
  overflow: hidden;
  height: 64px;
  position: relative;
}
.main-content .card .card-news-item {
  padding: 16px;
  border-bottom: 2px solid #980826;
  overflow: hidden;
  position: relative;
}
.main-content .card .card-news-item .card-img-icon {
  max-width: 30%;
  max-height: 144px;
  float: left;
  margin-right: 16px;
}
.main-content .card .card-news-item .card-secondary-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 144px 0 0;
  color: #444444;
}
.main-content .card .card-news-item .card-news-date {
  font-size: 12px;
  color: #444444;
  float: left;
  margin-top: 16px;
  line-height: 12px;
}
.main-content .card .card-news-item .card-news-tag {
  font-size: 12px;
  color: #f5f5f5;
  padding: 0 4px;
  background-color: #444444;
  border-radius: 5px;
  margin-top: 16px;
  float: right;
  display: inline;
  line-height: 24px;
}
.main-content .card .card-news-item-last {
  border: none;
}
.main-content .card .card-call-to-action {
  width: 100%;
  height: 100%;
  display: block;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #980826;
  color: #f5f5f5;
  text-align: center;
}
.main-content .card .card-call-to-action h4 {
  font-size: 24px;
  line-height: 32px;
  padding: 16px 0;
}
