<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="baldwin-wrapper">
            <div class="card">
                <div class="item item-text-wrap baldwin-color">
                    <p class="food-headers-top">Baldwin</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="baldwin-hours-titles">Breakfast - Hot</p>
                    <p class="baldwin-hours-times">7am - 8:30am</p>
                    <p class="baldwin-hours-titles">Breakfast - Continental</p>
                    <p class="baldwin-hours-times">8:30am - 10am</p>
                    <p class="baldwin-hours-titles">Lunch</p>
                    <p class="baldwin-hours-times">11am - 2pm</p>
                    <p class="baldwin-hours-titles">Dinner</p>
                    <p class="baldwin-hours-times">5pm - 6:30pm</p>
                    <p class="baldwin-hours-titles">Fat Meal</p>
                    <p class="baldwin-hours-times">10:30pm - 11:30pm</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="baldwin-hours-titles">Lunch</p>
                    <p class="baldwin-hours-times">11:30am - 12:30pm</p>
                    <p class="baldwin-hours-titles">Dinner</p>
                    <p class="baldwin-hours-times">5pm - 6pm</p>
                    <p class="food-headers">Sunday Hours</p>
                    <p class="baldwin-hours-titles">Lunch</p>
                    <p class="baldwin-hours-times">11:30am - 1:15pm</p>
                    <p class="baldwin-hours-titles">Dinner</p>
                    <p class="baldwin-hours-times">5pm - 6pm</p>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>