<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="chickfila-wrapper">
            <div class="card">
                <div class="item item-text-wrap chickfila-color">
                    <p class="food-headers-top">Wildcat Express</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="chickfila-hours-times">8:30am - 9pm</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="chickfila-hours-times">12:30pm - 5pm</p>
                    <p class="food-headers">Sunday Hours</p>
                    <p class="chickfila-hours-times">6pm - 10pm</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap chickfila-color">
                    <p class="food-headers-top">Chick-fil-A</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="chickfila-hours-times">10:30am - 9pm</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="chickfila-hours-times">12:30pm - 5pm</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>