<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="chapel-wrapper">
            <div class="chapel-header">
                <img src="img/library.jpg" class="latest-image">
            </div>
            <div class="card" ng-repeat="chapelItem in chapel.chapelSermons">
                <div class="item item-text-wrap chapel-color">
                    <p class="speaker">{{chapelItem.speaker}}</p>
                    <p class="chapel-date">{{chapelItem.date}}</p>
                    <p class="chapel-topic">{{chapelItem.description}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>