<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="main-wrapper">
            <div class="card">
                <div class="row">
                    <div class="col">
                        <p class="day">SAT</p>
                        <p>
                            <span class="date">07</span>
                            <span class="month">FEB</span>
                        </p>
                        <!--day, date-->
                    </div>
                    <div class="col">
                        <i class="climacon sunglasses"></i>
                        <p>
                            <span class="city">MARION</span>
                        </p>
                        <!--icon, city-->
                    </div>
                    <div class="col">
                        <p class="col-right-top">
                            <span class="currentTemp">40°</span>
                        </p>
                        <p class="forecast">
                            41° <span>|</span> 39°
                        </p>
                        <!--temp, high, low-->
                    </div>
                    <!--<p>City: {{city}}</p>
                    <p>Temp: {{temp}}</p>
                    <p>Min Temp: {{tempMin}}</p>
                    <p>Max Temp: {{tempMax}}</p>-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/votd">
                        <button class="button button-block button-positive" id="votd"><span class="button-title">Verse of the Day</span></button>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/news">
                        <button class="button button-block button-positive" id="news"><span class="button-title">Campus News</span></button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/baldwin">
                        <button class="button button-block button-positive" id="baldwin"><span class="button-title">Baldwin Menu</span></button>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/schedule">
                        <button class="button button-block button-positive" id="schedule"><span class="button-title">Class Schedule</span></button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/chapel">
                        <button class="button button-block button-positive" id="chapel"><span class="button-title">Chapel Info</span></button>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/settings">
                        <button class="button button-block button-positive" id="settings"><span class="button-title">Settings</span></button>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>