<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="news-wrapper">
            <div class="news-header">

            </div>
            <div class="card">
                <p>Sojourn</p>
            </div>
            <div class="card">
                <p>President's Blog</p>
            </div>
            <div class="card">
                <p>SGA Blog</p>
            </div>
            <div class="card">
                <p>Spectrum</p>
            </div>
            <div class="card">
                <p>Athletics</p>
            </div>
            <div class="card">
                <p>Latest News</p>
            </div>
        </div>
    </ion-content>
</ion-view>