<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="latest-wrapper">
            <div class="latest-header">
                <img src="img/library.jpg" class="latest-image">
            </div>
            <!--<a href="http://www.iwuwildcats.com/article/4112.php" target="_blank">
            <div class="card card-1">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            No regrets: advice from recent alumni
                        </p>
                        <p class="article-date">
                            18 Feb 2015 4:24am
                        </p>
                    </div>
                </div>
            </div>
            </a>-->
            <div class="card" ng-repeat="newsArticle in news.newsInfo.data.article">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            {{newsArticle.title}}
                        </p>
                        <p class="article-date">
                            {{newsArticle.date}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>