<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="latest-wrapper">
            <div class="latest-header">
                <img src="img/library.jpg" class="latest-image">
            </div>
            <!--<a href="http://www.iwuwildcats.com/article/4112.php" target="_blank">-->
            <div class="card card-1">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            No regrets: advice from recent alumni
                        </p>
                        <p class="article-date">
                            18 Feb 2015 4:24am
                        </p>
                    </div>
                </div>
            </div>
            <!--</a>-->
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            Bowman House alumni uncover time capsule
                        </p>
                        <p class="article-date">
                            18 Feb 2015 3:17am
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            Men's basketball goes on run to beat Spring Arbor
                        </p>
                        <p class="article-date">
                            15 Feb 2015 12:17am
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            Women's basketball team fights human trafficking
                        </p>
                        <p class="article-date">
                            14 Feb 2015 10:01pm
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            'South Pacific' explores cross-cultural relationships
                        </p>
                        <p class="article-date">
                            14 Feb 2015 8:45pm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>