<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="sojourn-wrapper">
            <div class="sojourn-header">
                <img src="img/sojourn-header-temp.jpg" class="sojourn-image">
            </div>
            <div class="card" ng-repeat="newsArticle in news.article | filter: filterFunction | limitTo:quantity">
                <div class="row">
                    <div class="col col-33">
                        <img src="img/head_two-small.png">
                    </div>
                    <div class="col">
                        <p class="article-title">
                            {{newsArticle.title}}
                        </p>
                        <p class="article-date">
                            {{newsArticle.date}}
                        </p>
                    </div>
                </div>
            </div>
            <button class="button button-full button-dark" ng-click="incrementLimit()">More News Articles</button>
        </div>
    </ion-content>
</ion-view>