<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="marios-wrapper">
            <div class="card">
                <div class="item item-text-wrap marios-color">
                    <p class="food-headers-top">Mario's</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="marios-hours-times">10am - 12 Midnight</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="marios-hours-times">12:30pm - 12 Midnight</p>
                    <p class="food-headers">Sunday Hours</p>
                    <p class="marios-hours-times">6pm - 12 Midnight</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap marios-color">
                    <p class="food-headers-top">Wilbur's Wild Wings</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="marios-hours-times">10am - 12 Midnight</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="marios-hours-times">12:30pm - 12 Midnight</p>
                    <p class="food-headers">Sunday Hours</p>
                    <p class="marios-hours-times">6pm - 12 Midnight</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>