<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="collegeStore-wrapper">
            <div class="card">
                <div class="item item-text-wrap collegeStore-color">
                    <p class="food-headers-top">College Store</p>
                    <p class="food-headers">Weekday Hours</p>
                    <p class="collegeStore-hours-times">10am - 12 Midnight</p>
                    <p class="food-headers">Saturday Hours</p>
                    <p class="collegeStore-hours-times">2pm - 12 Midnight</p>
                    <p class="food-headers">Sunday Hours</p>
                    <p class="collegeStore-hours-times">7pm - 12 Midnight</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>