/* Import list of variables and mixins */
/********** VARIABLES **********/
/* Color Variables */
/* Font Variables */
/*
@IWU_PROXIMA-NOVA:      "proxima-nova-n4", "proxima-nova", arial;
@IWU_WISDOM-SCRIPT:     "wisdom-script", "Brush Script MT", cursive;
@IWU_MUSEO-SLAB:        "museo-slab", georgia, "times new roman", serif;
@IWU_METROPOLIS:        "Metropolis-19201", georgia, "times new roman", serif;
*/
/* Sizing Variables */
/********** MIXINS **********/
/* Gives blocks the appearance of being raised off the background */
.raised-content {
  box-shadow: 0 1px 2px #aaa;
  border-bottom: 1px solid gray;
}
/* Assigns font-size the size of the inputted value, and line-height the size of the inputted value rounded to the next multiple of the base size */
/* Wrapper class styles */
.baldwin-card {
  /* Top of card, includes card title styles and icon styles */
  /* Middle of card styles */
  /* Baldwin menu option styles */
}
.baldwin-card .card-top {
  overflow: hidden;
  margin-bottom: 32px;
  padding: 16px;
}
.baldwin-card .card-top .card-title {
  margin: 0;
  text-align: left;
  font-weight: 600;
  float: left;
  font-size: 48px;
  line-height: 48px;
}
.baldwin-card .card-top .card-title span {
  font-weight: 100;
}
.baldwin-card .card-top .card-flaticon-container {
  float: right;
  padding: 24px;
}
.baldwin-card .card-top .card-flaticon-ellipse:before {
  color: #444444;
  font-size: 32px;
  line-height: 32px;
}
.baldwin-card .card-mid {
  overflow: hidden;
  padding: 16px;
}
.baldwin-card .card-baldwin-item {
  overflow: hidden;
  position: relative;
  width: 33.33333%;
  float: left;
  text-align: center;
}
.baldwin-card .card-baldwin-item .card-flaticon-baldwin:before {
  color: #444444;
  font-size: 64px;
  line-height: 64px;
}
