<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="main-wrapper">
            <div class="card weather">
                <div class="row">
                    <div class="col">
                        <p class="day">{{weather.dateWeather.data.dayWeek}}</p>
                        <p>
                            <span class="date">{{weather.dateWeather.data.dayMonth}}</span>
                            <span class="month">{{weather.dateWeather.data.monthYear}}</span>
                        </p>
                        <!--day, date-->
                    </div>
                    <div class="col">
                        <i class="{{weather.currentWeather.data.icon}}"></i>
                        <p>
                            <span class="city">{{weather.todaysWeather.data.city}}</span>
                        </p>
                        <!--icon, city-->
                    </div>
                    <div class="col">
                        <p class="col-right-top">
                            <span class="currentTemp">{{weather.currentWeather.data.temperature}}°</span>
                        </p>
                        <p class="forecast">
                            {{weather.todaysWeather.data.tempMax}}° <span>|</span> {{weather.todaysWeather.data.tempMin}}°
                        </p>
                    </div>
                </div>
            </div>
            <div class="card votd">
                <div class="item item-text-wrap">
                    &ldquo;{{votd.votdInfo.data.verse}}&rdquo;
                    <p>- {{votd.votdInfo.data.reference}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/news">
                        <button class="button button-block button-positive" id="news">
                            <span class="button-title">Campus News</span>
                            <i class="button-icon flaticon-11"></i>
                        </button>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/chapel">
                        <button class="button button-block button-positive" id="chapel">
                            <span class="button-title">Chapel Info</span>
                            <i class="button-icon flaticon-47"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/app/food">
                        <button class="button button-block button-positive" id="baldwin">
                            <span class="button-title">Food Service</span>
                            <i class="button-icon flaticon-1"></i>
                        </button>
                    </a>
                </div>
                <div class="col">
                    <a href="#/app/schedule">
                        <button class="button button-block button-positive" id="schedule">
                            <span class="button-title">Class Schedule</span>
                            <i class="button-icon flaticon-45"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>