<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="news-wrapper">
            <div class="news-header">
                <img src="img/main-campus.jpg" class="news-image">
            </div>
            <a href="#/app/news/latest">
                <div class="card card-1">
                    <div class="latest-image"></div>
                    <div class="row source">
                        Latest News
                    </div>
                </div>
            </a>
            <a href="#/app/news/sojourn">
                <div class="card">
                    <div class="sojourn-image"></div>
                    <div class="row source">
                        The Sojourn
                    </div>
                </div>
            </a>
            <a href="#/app/news/athletics">
                <div class="card">
                    <div class="athletics-image"></div>
                    <div class="row source">
                        Athletics
                    </div>
                </div>
            </a>
            <a href="#/app/news/sga">
                <div class="card">
                    <div class="sga-image"></div>
                    <div class="row source">
                        SGA Blog
                    </div>
                </div>
            </a>
            <a href="#/app/news/president">
                <div class="card">
                    <div class="president-image"></div>
                    <div class="row source">
                        The President's Blog
                    </div>
                </div>
            </a>
            <a href="#/app/news/spectrum">
                <div class="card">
                    <div class="spectrum-image"></div>
                    <div class="row source">
                        IWU Spectrum
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>