<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="news-wrapper">
            <div class="news-header">
                <img src="img/main-campus.jpg" class="news-image">
            </div>
            <a href="#/app/news/latest">
                <div class="card card-1">
                    <p class="source">Latest News</p>
                </div>
            </a>
            <!--<a href="#/app/">
                <div class="card card-1">
                    <div class="row">
                        <div class="col col-33">
                            <img src="img/head_two.png">
                        </div>
                        <div class="col">
                            <p class="article-title">
                                Senate Bill Protects Longstanding Practices Of Religious Organizations in Indiana
                            </p>
                            <p class="article-date">
                                05 Feb 2015 9:17pm
                            </p>
                        </div>
                    </div>
                </div>
            </a>-->
            <a href="#/app/news/sojourn">
                <div class="card">
                    <p class="source">Sojourn</p>
                </div>
            </a>
            <a href="#/app/news/president">
                <div class="card">
                    <p class="source">President's Blog</p>
                </div>
            </a>
            <a href="#/app/news/sga">
                <div class="card">
                    <p class="source">SGA Blog</p>
                </div>
            </a>
            <a href="#/app/news/spectrum">
                <div class="card">
                    <p class="source">Spectrum</p>
                </div>
            </a>
            <a href="#/app/news/athletics">
                <div class="card">
                    <p class="source">Athletics</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>