<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="chapel-wrapper">
            <div class="card">
                <div class="item item-text-wrap chapel-color">
                    <p class="speaker">Dr. Jim Lo</p>
                    <p class="chapel-date">Fri, Feb 13</p>
                    <p class="chapel-topic">Come join us while we talk about...</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap chapel-color">
                    <p class="speaker">Cthulu</p>
                    <p class="chapel-date">Fri, Feb 13</p>
                    <p class="chapel-topic">Come join us while we talk about...</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap chapel-color">
                    <p class="speaker">Space Pope</p>
                    <p class="chapel-date">Fri, Feb 13</p>
                    <p class="chapel-topic">Come join us while we talk about...</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>