<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="food-wrapper">
            <div class="news-header">
                <img src="img/main-campus.jpg" class="news-image">
            </div>
            <a href="#/app/food/baldwin">
                <div class="card">
                    <div class="item item-text-wrap food-color">
                        <p class="eatery">Baldwin</p>
                    </div>
                </div>
            </a>
            <a href="#/app/food/marios">
                <div class="card">
                    <div class="item item-text-wrap food-color">
                        <p class="eatery">Mario's</p>
                    </div>
                </div>
            </a>
            <a href="#/app/food/chickfila">
                <div class="card">
                    <div class="item item-text-wrap food-color">
                        <p class="eatery">Chick-fil-A</p>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>