<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="news-wrapper">
            <div class="news-header">
                <img src="img/main-campus.jpg" class="news-image">
            </div>
            <a href="#/app/">
                <div class="card card-1">
                    <p>Most Recent Article</p>
                </div>
            </a>
            <a href="#/app/news/sojourn">
                <div class="card">
                    <p>Sojourn</p>
                </div>
            </a>
            <a href="#/app/news/president">
                <div class="card">
                    <p>President's Blog</p>
                </div>
            </a>
            <a href="#/app/news/sga">
                <div class="card">
                    <p>SGA Blog</p>
                </div>
            </a>
            <a href="#/app/news/spectrum">
                <div class="card">
                    <p>Spectrum</p>
                </div>
            </a>
            <a href="#/app/news/athletics">
                <div class="card">
                    <p>Athletics</p>
                </div>
            </a>
            <a href="#/app/news/latest">
                <div class="card">
                    <p>Latest News</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>