<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="schedule-wrapper">
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="day-name">Monday</p>
                    <p class="das-time">8:55</p>
                    <p class="daily-classes">CIS-440 Advanced Internet Concepts</p>
                    <p class="das-time">12:00</p>
                    <p class="daily-classes">Work</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="day-name">Tuesday</p>
                    <p class="das-time">12:05</p>
                    <p class="daily-classes">MAT-107 Contemporary Mathematics</p>
                    <p class="das-time">2:15</p>
                    <p class="daily-classes">Senior Project</p>
                    <p class="das-time">3:15</p>
                    <p class="daily-classes">Work</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="day-name">Wednesday</p>
                    <p class="das-time">8:55</p>
                    <p class="daily-classes">CIS-440 Advanced Internet Concepts</p>
                    <p class="das-time">12:00</p>
                    <p class="daily-classes">Work</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="day-name">Tuesday</p>
                    <p class="das-time">12:05</p>
                    <p class="daily-classes">MAT-107 Contemporary Mathematics</p>
                    <p class="das-time">2:15</p>
                    <p class="daily-classes">Senior Project</p>
                    <p class="das-time">3:15</p>
                    <p class="daily-classes">Work</p>
                    <p class="das-time">6:15</p>
                    <p class="daily-classes">FIN-250 Personal and Family Finances</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="day-name">Friday</p>
                    <p class="das-time">8:55</p>
                    <p class="daily-classes">CIS-440 Advanced Internet Concepts</p>
                    <p class="das-time">12:00</p>
                    <p class="daily-classes">Work</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>