<ion-view view-title="{{navTitle}}">
    <ion-content>
        <div class="schedule-wrapper">
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="next-class-title">Your next class.</p>
                    <p class="class-time">@ 2:10</p>
                    <p class="next-class">CIS-492 Senior Project</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="future-today-classes-title">Upcoming classes for the day.</p>
                    <p class="class-time">@ 2:10</p>
                    <p class="future-today-classes">CIS-492 Senior Project</p>
                    <p class="class-time">@ 6:15</p>
                    <p class="future-today-classes">FIN-250 Personal and Family Finances</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="tomorrow-beyond-classes-title">Tomorrow's Classes.</p>
                    <p class="class-time">@ 8:55</p>
                    <p class="tomorrow-beyond-classes">CIS-440 Advanced Internet Concepts</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="tomorrow-beyond-classes-title">Thursday's Classes.</p>
                    <p class="class-time">@ 2:10</p>
                    <p class="tomorrow-beyond-classes">CIS-492 Senior Project</p>
                    <p class="class-time">@ 6:15</p>
                    <p class="tomorrow-beyond-classes">FIN-250 Personal and Family Finances</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="tomorrow-beyond-classes-title">Friday's Classes.</p>
                    <p class="class-time">@ 8:55</p>
                    <p class="tomorrow-beyond-classes">CIS-440 Advanced Internet Concepts</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap schedule-color">
                    <p class="tomorrow-beyond-classes-title">Saturday's Cocaine Binge</p>
                    <p class="class-time">ALL DAY</p>
                    <p class="tomorrow-beyond-classes">Wife Beater, No Pants, Only Cocaine</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>