html, body {
    font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle;
    background-color: #980826;
    color: #F5F5F5;
    height: 1776px;
    width: 1080px;
}
a:link {color: #F5F5F5;}
a:active {color: #F5F5F5;}
a:visited {color: #F5F5F5;}
h3 {
    width: 200px;
    font-weight: 200;
}
img {
    margin-top: 480px;
    height: 282px;
    width: 720px;
}
#footer {
    font-size: 48px;
    position: absolute;
    bottom: 0;
    width: 260px;
    margin-left: 410px;
    margin-right: 410px;
    margin-bottom: 20px;
}
.logo {
    margin-left: 180px;
    margin-bottom: 180px;
}
#username {
    margin-top: 40px;
}
#loginButton {
    width: 540px;
    font-size: 48px;
    color: #F5F5F5;
    float: right;
    background-color: #444444;
    border: none;
    padding: 0;
}
.login input {
    width: 540px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 200;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 12px;
}
.login {
    margin-left: 270px;
    margin-right: 270px;
}